<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Inline Html</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <my-event msg='Study Code using Vue on simple file of HTML' />
  </div>

  <script>

    function addStorage(data) {
      try {
        window.localStorage.setItem('events', JSON.stringify(data))
      } catch (err) {
        console.error(err)
      }
    }
    function getStorage() {
      try {
        if (window.localStorage.hasOwnProperty('events')) {
          store.state.events = Object.assign({}, JSON.parse(window.localStorage.events));
          console.log('data loaded')
        }
      } catch (err) {
        console.error(err)
      }
    }

    var store = {
      debug: true,
      state: {
        isProcessing: false,
        events: { Event1: {} },
        eventName: null,
        selectedEvent: null,
        users: [
          { name: "tau" },
          { name: "lisa" },
          { name: "nicole" },
          { name: "benjamin" },
        ],
      },
      setProcessing(value) {
        if (this.debug) console.log('call setProcessing');
        this.state.isProcessing = value;
      },
      addEvent(eventName) {
        if (this.debug) console.log('call addEvent');
        this.state.isProcessing = true;

        return new Promise((resolve, reject) => {

          this.state.isProcessing = false;

          if (eventName.length < 3) {
            reject('Event name needs have a minimum 3 characters.')

          } else if (this.state.events.hasOwnProperty(eventName)) {
            reject('This event already exists.')
          } else {
            this.state.events[eventName] = this.state.events[eventName] || {};
            //update object
            this.state.events = Object.assign({}, this.state.events)

            addStorage(this.state.events);

            resolve('Event has been created');
          }
        })
      },
      loadEvents() {
        if (window.localStorage.hasOwnProperty('events')) {
          this.state.events = Object.assign({}, JSON.parse(window.localStorage.events));
        }

      },
      selectEvent(eventName) {
        if (this.debug) console.log('call selectEvent');

        this.state.eventName = eventName;
        this.state.selectedEvent = this.state.events[eventName];
      },
      userPayEvent(userName) {
        if (this.debug) console.log('call userPayEvent');
        this.changeAttr(userName, 'pay')
      },
      userJoinEvent(userName) {
        if (this.debug) console.log('call userJoinEvent');
        this.changeAttr(userName, 'join')
      },
      changeAttr(userName, field) {
        console.log('call changeAttr', userName, field, this.state.selectedEvent);


        if (this.state.eventName) {

          var event = this.state.selectedEvent;
          var user = event[userName] || {};
          console.log(1, JSON.stringify(event), JSON.stringify(this.state.events));
          switch (field) {
            case 'join':
              user[field] = user[field] == 1 ? 0 : 1;
              break;
            case 'pay':
              user['join'] = user['join'] || 1;
              user[field] = user[field] == true ? false : true;
              break;
          }
          // update object
          Vue.set(event, userName, user);
          console.log(2, JSON.stringify(event), JSON.stringify(this.state.events));
          // update object
          this.state.events = Object.assign({}, this.state.events);
          //EventBus.$emit('updateEvents', this.this.state.events)
        }
      },
      addUser(user) {
        if (this.debug) console.log('call addEvent');
        
        return new Promise((resolve, reject) => {
          if(
            user.name === undefined || 
            user.name.toString().trim().length === 0) {
            reject('blank name is not valid.')
            return;
          }
          if (this.state.users.findIndex(u => u.name == user.name) != -1) {
            reject('this user already exists.')
            return;
          }
          this.state.users.push(user);
          resolve('this user has been added.')
        })
      },
      updateUser(userName, user) {
        var index = this.state.users.findIndex(u => u.name == userName)

        return new Promise((resolve, reject) => {
          if (index == -1) {
            reject('user not found')
            return;
          }
          if(user.name === undefined || 
            user.name.toString().trim().length === 0) {
            reject('blank name is not valid.')
            return;
          }
          Vue.set(this.state.users, index, user)
          resolve('this user has been updated.')
        })
        
      }

    }
  </script>

  <script type="text/x-template" id="my-confirm">
    <div>
      <h2>{{msg}}</h2>
      <button @click.prevent="confirm">Confirm</button>
      <button @click.prevent="cancel">Cancel</button>
    </div>
  </script>
  <script>
    var MyConfirm = Vue.component('my-confirm', {
      props: {
        component: String,
        msg: {
          type: String,
          required: true
        }
      },
      methods: {
        confirm() { EventBus.$emit(this.component + 'Confirm'); },
        cancel() { EventBus.$emit(this.component + 'Cancel'); }
      },
      template: '#my-confirm'
    })
  </script>


  <script type="text/x-template" id="my-new-event">
    <div>
      <div>
        <div v-if="isProcessing">processing...</div>
        <div v-if="showNew"> 
          <h2>Create new Event</h2>
          <input type="text" v-model="eventName" placeholder="Event Name" @keyup.enter="addEvent" />
          <button @click.prevent="addEvent">Add Event</button>
        </div>
        <my-confirm :component='component' :msg="msgConfirm" v-else></my-confirm>
        <p>{{errorMsg}}</p>
      </div>
    </div>
  </script>
  <script>

    var MyNewEvent = Vue.component('my-new-event', {
      data() {
        return {
          component: 'newEvent',
          eventName: '',
          errorMsg: '',
          showNew: true,
          sharedEvents: store.state
        }
      },
      created() {
        EventBus.$on(this.component + 'Confirm', () => { this.confirmEvent() });
        EventBus.$on(this.component + 'Cancel', () => { this.cancelEvent() });
      },
      mounted() {
        console.log('carregoussssss')
        EventBus.$on('loadedEvents', (events) => {
          this.events = events;
          //this.events = Object.assign({}, events);
          console.log('carregou')
        })
      },
      computed: {
        isProcessing() {
          return this.sharedEvents.isProcessing;
        },
        msgConfirm() {
          return `Confirm new event "${this.eventName}"?`
        }
      },
      methods: {
        addEvent() {
          console.log('call addEvent');
          this.errorMsg = ''
          this.showNew = false;
        },
        confirmEvent() {
          console.log('call confirmEvent');

          this.eventName = this.eventName.trim();

          store.addEvent(this.eventName)
            .then((e) => {
              this.eventName = ''
              this.errorMsg = e
              this.showNew = true
            })
            .catch((e) => {
              this.errorMsg = e
              this.showNew = true
            })
        },
        cancelEvent() {
          console.log('call cancelEvent');
          this.showNew = true;
        }
      },
      components: {
        MyConfirm
      },
      template: '#my-new-event'
    })
  </script>

  <script type="text/x-template" id="my-event-list">
    <div>
      <h2>List Events</h2>
      <div v-for="(event,i) in Object.keys(events)" :key="i">
        <button @click.prevent="selectEvent(event)">{{event}} {{isActive(event)}}</button>
      </div>
    </div>
  </script>
  <script>
    var MyEventList = Vue.component('my-event-list', {
      data() {
        return {
          sharedEvents: store.state
        }
      },
      computed: {
        events() {
          return this.sharedEvents.events
        }
      },
      methods: {
        selectEvent(eventName) {
          console.log('call selectEvent', eventName);
          //this.selectedEventName = eventName;
          store.selectEvent(eventName)
        },
        isActive(eventName) {
          return this.sharedEvents.eventName == eventName ? 'active' : '';
        }
      },
      template: '#my-event-list'
    });
  </script>

  <script type="text/x-template" id="my-selected-event">
    <div>
        <h2>Selected Event {{eventName}}</h2>
        <div v-if="selectedEvent">
            <my-confirm v-if="showConfirm" :component="component" :msg="msgConfirm"></my-confirm>
            <div v-for="(user, i) in users" :key="i">
                <span>{{user.name}}</span>
                  <button :disabled="showConfirm" v-if="isActive(user.name) == false" @click.prevent="join(user.name, $event)">Join</button>
                  <button :disabled="showConfirm" @click.prevent="pay(user.name, $event)">
                      <span v-if="isPaid(user.name) == false">Pay</span>
                      <span v-else>Mark as unpaid</span>
                  </button>
                </div>
                
            </div>
        </div>
    </div>
  </script>
  <script>
    var MySelectedEvent = Vue.component('my-selected-event', {
      data() {
        return {
          sharedEvents: store.state,
          component: 'selectedEvent',
          selectedName: null,
          showConfirm: false,
          selectedAction: null,
          msgConfirm: ''
        }
      },
      created() {
        EventBus.$on(this.component + 'Confirm', () => { this.confirmAction() });
        EventBus.$on(this.component + 'Cancel', () => { this.cancelAction() });
      },
      computed: {
        eventName() {
          return this.sharedEvents.eventName
        },
        users() {
          return this.sharedEvents.users
        },
        selectedEvent() {
          return this.sharedEvents.selectedEvent
        },
      },
      methods: {
        isActive(name) {
          console.log('call isAtive', name);

          var event = this.selectedEvent;

          if (event &&
            event[name] &&
            event[name]['join'] &&
            event[name]['join'] === 1) return true;

          return false;
        },
        isPaid(name) {
          console.log('call isPaid', name)
          var event = this.selectedEvent;

          if (event &&
            event[name] &&
            event[name]['pay'] &&
            event[name]['pay'] === true) return true;

          return false;
        },
        selectEvent(eventName) {
          console.log('call selectEvent', eventName);
          store.selectEvent(eventName)
        },
        callConfirmAction(actionName, userName, actionText) {
          this.msgConfirm = "Confirm " + actionText + " user " + userName + "?";
          this.selectedAction = actionName;
          this.selectedName = userName;
          this.showConfirm = true;
        },
        join(userName, e) {
          console.log('call join', name);
          //store.userJoinEvent(userName)
          this.callConfirmAction('join', userName, e.target.innerText);
        },
        pay(userName, e) {
          console.log('call pay', userName);
          //store.userPayEvent(userName);
          this.callConfirmAction('pay', userName, e.target.innerText);
        },
        confirmAction() {
          switch (this.selectedAction) {
            case 'pay':
              store.userPayEvent(this.selectedName);
              break;
            case 'join':
              store.userJoinEvent(this.selectedName);
              break;
          }
          this.showConfirm = false;
        },
        cancelAction() {
          console.log('call cancel')
          this.showConfirm = false;
        }
      },
      components: {
        MyConfirm
      },
      template: '#my-selected-event'
    })
  </script>


  <script type="text/x-template" id="my-event-users">
    <div v-if="listUsers">
      <h2>User List</h2>
      <ul>
        <li v-for="user in users">
          {{ user.name }} <button @click.prevent="edit(user)">Edit</button>
        </li>
      </ul>
      <button @click.prevent="newUser">New User</button>
    </div>
  </script>
  <script>
    var MyEventUsers = Vue.component('my-event-users', {
      data () {
        return {
          listUsers: true,
          sharedEvents: store.state
        }
      },
      created() {
        EventBus.$on('listUsers', ()=> {
          this.listUsers = true;
        })
      },
      computed: {
        users() {
          return this.sharedEvents.users;
        }
      },
      methods: {
        edit(user) {  
          this.listUsers = false;
          EventBus.$emit('editUser', user)
        },
        newUser() {
          this.listUsers = false;
          EventBus.$emit('newUser');
        }
      },
      template: '#my-event-users'
    })
  </script>

  <script type="text/x-template" id="my-user-data">
    <div v-if="editData">
      <h2>{{mode}} User</h2>
      <div>
        <label>Name</label>
        <input type="text" v-model="user.name"  @keyup.enter="save" />
      </div>
      <div>
          <label>Email</label>
          <input type="email" v-model="user.email" @keyup.enter="save" />
      </div>
      <div>
        <button @click.prevent="save">Save</button>
        <button @click.prevent="cancel">Cancel</button>
      </div>
      <p>{{msg}}</p>
    </div>
  </script>
  <script>
    var MyUserData = Vue.component('my-user-data', {
      data () {
        return {
          editData: false,
          user: {},
          userName: '',
          mode: '',
          msg: '',
        }
      },
      created() {
        EventBus.$on('editUser', (user) => {
          this.user = Object.assign({}, user)
          this.userName = user.name;
          this.mode = 'Edit'
          this.editData = true;
          this.msg = ''
        });

        EventBus.$on('newUser', (user) => {
          this.user = {}
          this.mode = 'New'
          this.editData = true;
          this.msg = ''
        })
      },
      methods: {
        save() { 
          console.log('call save')
          //store.updateUser(this.user)
          var data = {};

          if (this.mode === 'Edit') {
            data = store.updateUser(this.userName, this.user)
          } else {
            data = store.addUser(this.user)
          }
          data.then((e) => {
            this.goToUserList()
          })
          data.catch((e) => {
            this.msg = e
          })
        },
        cancel() {  
          console.log('call cancel')
          this.goToUserList();
        },
        goToUserList() {
          console.log('call goToUserList')
          this.editData = false;
          EventBus.$emit('listUsers');
        }
      },
      template: '#my-user-data'
    })
  </script>

  <script type="text/x-template" id="my-event">
      <div>
          <my-new-event />
          <my-event-list />
          <my-selected-event />
          <my-event-users />
          <my-user-data />
          
          <div>
              <h3>Code</h3>
              <pre>{{sharedEvents}}</pre>
          </div>
      </div>
  </script>

  <script>


    var EventBus = new Vue();

    var MyEvent = Vue.component('my-event', {
      data() {
        return {
          sharedEvents: store.state
        }
      },
      created() {
        getStorage()
      },
      components: {
        MyNewEvent,
        MyEventList,
        MySelectedEvent,
        MyEventUsers,
        MyUserData
      },
      template: '#my-event',
    })



    new Vue({
      el: "#app",
      components: {
        MyEvent
      },
    });
  </script>



</body>

</html>