<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Inline Html</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.min.js"></script>

  <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script> -->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>

</head>

<body>
  <div id="app">
    <my-event></my-event>
  </div>

  <!-- https://www.gstatic.com/firebasejs/ui/3.5.1/firebase-ui-auth__pt.js -->

  <!-- this file have config for you firebase -->
  <script src="firebase-config.js"></script>

  <script>

    const db = firebase.firestore()

    var members = {
      "KEY": {
        members: {
          "key_m1": {
            name: "aaa", email: "aaa@aaa.com",
            events: {
              "key_e1": true,
              "key_e2": true,
            }
          },
          "key_m2": {
            name: "bbb", email: "bbb@bbb.com",
            events: {
              "key_e1": true,
            }
          }
        },
        events: {
          "key_e1": {
            name: "ccc", description: "ddd",
            members: {
              "key_m1": { join: true, pay: true, value: 10 },
              "key_m2": { join: true, pay: false }
            }
          },
          "key_e2": {
            name: "ddd", description: "ddd",
            members: {
              "key_m1": { join: true, pay: true, value: 5 }
            }
          }
        }
      }
    }

    function addStorage() {
      /*
      try {
        var data = { events: store.state.events, members: store.state.members }
        window.localStorage.setItem('data', JSON.stringify(data))
      } catch (err) {
        util.error(err)
      }
      */
    }

    function getStorage() {
      /*
      try {
        if (window.localStorage.hasOwnProperty('data')) {
          var data = JSON.parse(window.localStorage.data);
          if (!data) return;

          store.state.events = Object.assign({}, data.events);
          store.state.members = Object.assign({}, data.members);
          util.log('data loaded')
        }
      } catch (err) {
        util.error(err)
      }
      */
    }

    var util = {
      guid() {
        return '_' + Math.random().toString(36).substr(2, 9);
      },
      log(...args) {
        console.log(...args)
      },
      error(...args) {
        console.error(...args)
      },
      isNull(obj) {
        //util.log('call isNull', obj)
        return obj === null || obj === undefined ? true : false;
      },
      isEmpty(obj) {
        //util.log('call isEmpty', obj)
        return util.isNull(obj) || obj.trim().length === 0 ? true : false;
      },
      isLessLength(obj, value) {
        //util.log('call isLessLength', obj, value)
        return util.isEmpty(obj) || obj.trim().length < value ? true : false;
      }
    }


    var store = {
      debug: true,
      state: {
        isProcessing: false,
        events: {},
        isLogged: false,
        eventKey: null,
        selectedEvent: null,
        members: {},
        googleData: {},


        currentTodo: null,
      },


      setProcessing(value) {
        util.log('call setProcessing', value);
        store.state.isProcessing = value;
      },

      event: {

        add(event) {

          util.log('call event.add', event);
          store.state.isProcessing = true;

          return new Promise((resolve, reject) => {

            if (util.isNull(event) || util.isEmpty(event.name)) {
              store.state.isProcessing = false;
              reject('Event name is necessary')
            }
            if (util.isLessLength(event.name, 3)) {
              store.state.isProcessing = false;
              reject('Event name needs have a minimum 3 characters.')
            }
            else {
              // old mode
              //var key = util.guid();
              //store.state.events[key] = event;
              //update object
              //store.state.events = Object.assign({}, store.state.events)
              //addStorage();
              //resolve('Event has been created');

              // google firebase mode
              google.addData('events', event).then((e) => {

                store.state.isProcessing = false;
                store.state.events[e] = event;
                resolve('this events has been added.')
              }).catch((e) => {

                store.state.isProcessing = false;
                util.log('error on google.addData', e)
                reject(e);
              })
            }
          })
        },

        update(event) {

          util.log('call event.update', event);

          return new Promise((resolve, reject) => {

            if (util.isNull(event)) {
              reject('event not found')
            }
            else if (util.isEmpty(event.name)) {
              reject('blank name is not valid.')
            }
            else {

              var key = store.state.eventKey

              google.updateData('events', key, event)
                .then(() => {
                  Vue.set(store.state.events, key, event)
                  resolve('this event has been updated.')
                })
                .catch((e) => {
                  util.log('error on google.updateData', e)
                  reject(e)
                })
            }
          })
        },

        load() {

          util.log('call event.load');

          if (window.localStorage.hasOwnProperty('events')) {
            store.state.events = Object.assign({}, JSON.parse(window.localStorage.events));
          }
        },

        select(eventKey) {

          util.log('call event.select', eventKey);

          var event = store.state.events[eventKey];
          store.state.eventKey = eventKey;
          store.state.selectedEvent = event;
        },
      },

      member: {

        payEvent(memberKey) {

          if (this.debug) util.log('call member.payEvent');
          this.changeAttr(memberKey, 'pay')
        },

        joinEvent(memberKey) {

          if (this.debug) util.log('call member.joinEvent');
          this.changeAttr(memberKey, 'join')
        },

        changeAttr(memberKey, field) {

          util.log('call changeAttr', memberKey, field, store.state.selectedEvent);


          if (store.state.eventKey) {

            var eventKey = store.state.eventKey;
            var event = store.state.selectedEvent;
            var members = event.members || {};
            var member = members[memberKey] || {};

            util.log(1, JSON.stringify({ e: event, u: member, us: members, s: store.state.events }));
            switch (field) {
              case 'join':
                member[field] = member[field] == true ? false : true;
                break;
              case 'pay':
                member.join = member.join || true;
                member[field] = member[field] == true ? false : true;
                break;
            }
            // update object members[memberKey] = member
            Vue.set(members, memberKey, member);

            util.log(2, JSON.stringify({ e: event, u: member, us: members, s: store.state.events }));
            // update object event[members] = members
            Vue.set(event, 'members', members)
            util.log(3, JSON.stringify({ e: event, u: member, us: members, s: store.state.events }));
            // update object
            store.state.events = Object.assign({}, store.state.events);

            // google firebase mode
            google.updateEventUserData(eventKey, memberKey, member)
              //google.updateData('events/'+eventKey+'/members', members)
              .then(() => {
                console.log('ok')
                return 'this member has been updated.'
              })
              .catch((e) => {
                console.log('not ok')
                util.log('error on google.updateData', e)
                return e
              })
          }
        },

        add(member) {

          if (store.debug) util.log('call member.add', member);

          return new Promise((resolve, reject) => {
            if (
              member.name === undefined ||
              member.name.toString().trim().length === 0) {
              reject('blank name is not valid.')
              return;
            }
            // old mode
            //var key = util.guid()
            //store.state.members[key] = member;
            //addStorage();
            //resolve('this member has been added.')

            // google firebase mode
            google.addData('members', member).then((e) => {
              store.state.members[e] = member;
              resolve('this member has been added.')
            }).catch((e) => {
              util.log('error on google.addData', e)
              reject(e);
            })

          })
        },

        update(memberKey, member) {

          if (store.debug) util.log('call member.update', memberKey, member);

          var hasKey = store.state.members.hasOwnProperty(memberKey)

          return new Promise((resolve, reject) => {
            if (!hasKey) {
              reject('member not found')
              return;
            }
            if (member.name === undefined ||
              member.name.toString().trim().length === 0) {
              reject('blank name is not valid.')
              return;
            }
            // old mode
            Vue.set(store.state.members, memberKey, member)
            //resolve('this member has been updated.')


            // google firebase mode
            google.updateData('members', memberKey, member)
              .then(() => {
                resolve('this member has been updated.')
              })
              .catch((e) => {
                util.log('error on google.updateData', e)
                reject(e)
              })

          })

        }
      },

      login: {

        create(login) {
          console.log('login.create', login)
          return google.create(login);
        },

        connect(login) {
          console.log('login.connect', login)
          if (this.debug) util.log('call login.connect');

          return google.login(login);


          return new Promise((resolve, reject) => {
            console.log(login)
            if (login.email === "demo@demo.com" && login.pass === "demo") {
              resolve('loggin')
            }
            else {
              reject('login invalid')
            }

          })
        }

      }

    }


    var google = {

      isLogged() {
        util.log('call google.isLogged', firebase.auth().currentUser ? true : false)
        return firebase.auth().currentUser ? true : false

      },

      uid() {
        return firebase.auth().currentUser.uid;
      },

      create(account) {

        return new Promise((resolve, reject) => {

          firebase.auth().createUserWithEmailAndPassword(account.email, account.password)
            .then((e) => {
              resolve(e)
            })
            .catch((error) => {
              console.log('eee', error)
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;

              if (errorCode == 'auth/weak-password') {
                reject('A senha é muito fraca.')
              }
              else {
                reject(errorMessage)
              }


              // ...
            });

        })
      },

      login(account) {

        return new Promise((resolve, reject) => {

          firebase.auth().signInWithEmailAndPassword(account.email, account.password)
            .then((e) => {
              console.log(e)

              resolve(e)
            })
            .catch((error) => {
              console.log(error)
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;

              if (errorCode === 'auth/wrong-password') {
                reject('Usuário ou senha errados.');
              }
              else {
                reject(errorMessage);
              }

              // ...
            });

        })
      },

      logoff() {
        util.log('call google.logoff')
        firebase.auth().signOut();
      },

      loadDB() {
        store.state.isProcessing = true;

        firebase.database().ref('/').once('value')
          .then(function (snap) {

            store.state.isProcessing = false;
            console.log(snap.val())

            var data = snap.val();
            store.state.googleData = data;
            store.state.members = data.members;
            store.state.events = data.events;

          })
      },

      addData(local, data) {

        // get google key
        var key = firebase.database().ref().child(local).push().key;

        // update google data
        return firebase.database()
          .ref(`${local}/${key}`).update(data)
          .then(() => {
            return key;
          })
          .catch((e) => {
            return e
          });

        // create new google data
        //return firebase.database().ref(local).set(data);
      },

      updateData(local, key, data) {
        util.log('call google.add', local, data)

        //var uid = firebase.auth().currentUser.uid;
        // update google data
        return firebase.database()
          .ref(`${local}/${key}`)
          .update(data);
      },

      updateEventUserData(eventKey, memberKey, data) {
        util.log('call google.add', eventKey, memberKey, data)

        // update google data
        var uid = firebase.auth().currentUser.uid;
        return firebase.database()
          .ref(`events/${eventKey}/members/${memberKey}`)
          .update(data);
      }

    }

  </script>

  <script type="text/x-template" id="my-confirm">
    <div>
        <h2>{{msg}}</h2>
        <button @click.prevent="confirm">Confirm</button>
        <button @click.prevent="cancel">Cancel</button>
      </div>
  </script>
  <script>
    var MyConfirm = Vue.component('my-confirm', {
      props: {
        component: String,
        msg: {
          type: String,
          required: true
        }
      },
      methods: {
        confirm() { EventBus.$emit(this.component + 'Confirm'); },
        cancel() { EventBus.$emit(this.component + 'Cancel'); }
      },
      template: '#my-confirm'
    })
  </script>


  <script type="text/x-template" id="my-event-data">
    <div v-if="editData">  
      <div v-if="isProcessing">processing...</div>
      <div v-if="showNew"> 
          <div>
              <h2>{{ mode }} Event</h2>
          </div>
          <div>
            <input type="text" v-model="event.name" placeholder="Event Name" @keyup.enter="addEvent" />
          </div>
          <div>
              <textarea v-model="event.description" placeholder="Event Description" @keyup.enter="addEvent">
              </textarea>
          </div>
          <div>
            <select v-model="event.payment">
              <option disabled value="">Payment Mode</option>
              <option>Fixed</option>
              <option>Varied</option>
              <option>Divided</option>
            </select>
          </div>
          <div v-if="needsPayment">
            <input v-model="event.price" :placeholder="paymentDescription" @keyup.enter="addEvent" />
          </div>
          <div>
            <button @click.prevent="addEvent">Add</button>
            <button @click.prevent="cancelEvent">Cancel</button>
          </div>
      </div>
      <my-confirm :component='component' :msg="msgConfirm" v-else></my-confirm>
      <p>{{ errorMsg }}</p>
    </div>
  </script>

  <script>

    var MyEventData = Vue.component('my-event-data', {

      data() {
        return {
          component: 'newEvent',
          event: {
            name: '',
            description: '',
            price: null,
            payment: ''
          },
          mode: 'Edit',
          showNew: true,
          editData: false,
          errorMsg: '',
          sharedEvents: store.state
        }
      },

      created() {
        EventBus.$on(this.component + 'Confirm', () => { this.confirmEvent() });
        EventBus.$on(this.component + 'Cancel', () => { this.cancelConfirm() });

        EventBus.$on('showEventEdit', () => {
          this.event = Object.assign({}, this.sharedEvents.selectedEvent)
          this.mode = 'Edit'
          this.errorMsg = ''
          this.showNew = true
          this.editData = true
        })

        EventBus.$on('showEventNew', () => {
          this.event = {}
          this.mode = 'New'
          this.errorMsg = ''
          this.showNew = true
          this.editData = true
        })

        EventBus.$on('hideEventData', () => {
          this.editData = false
        })
      },

      computed: {

        needsPayment() {
          return this.event.payment === 'Fixed' || this.event.payment === 'Divided'
        },

        paymentDescription() {
          switch (this.event.payment) {
            case 'Fixed':
              return 'Inform event price fixed'

            case 'Divided':
              return 'Inform event price total'
            default:
              return ''
          }
        },

        isProcessing() {
          return this.sharedEvents.isProcessing;
        },

        msgConfirm() {
          return `Confirm ${this.mode} event "${this.event.name || ''}"?`
        }

      },

      methods: {
        addEvent() {
          util.log('call addEvent');
          this.errorMsg = ''
          this.showNew = false;
        },
        confirmEvent() {
          util.log('call confirmEvent');

          var data = {};


          if (this.mode === 'Edit') {
            data = store.event.update(this.event)
          }
          else {
            data = store.event.add(this.event)
          }

          data.then((e) => {
            console.log('ok')
            this.gotoEventList();
          })
            .catch((e) => {
              console.log('not ok', e)
              this.errorMsg = e
              this.showNew = true
            })
        },
        clean() {
          this.event = {}
          this.errorMsg = ''
          this.showNew = false
        },
        gotoEventList() {
          util.log('call gotoEventList');
          this.clean();
          EventBus.$emit('showEventList');
        },
        cancelConfirm() {
          util.log('call cancelConfirm');
          this.showNew = true;
        },
        cancelEvent() {
          util.log('call cancelEvent');
          EventBus.$emit('showEventList')
          this.editData = false
        }
      },

      /*components: {
        MyConfirm
      },*/

      template: '#my-event-data'



    })
  </script>

  <script type="text/x-template" id="my-event-list">
        <div>
        <h2>List Events</h2>
        <ul>
          <li v-for="(event, key) in events" :key="key">
            <a href="#" @click.prevent="selectEvent(key)">{{isActive(key)}}{{event.name}}</a>
            <button @click.prevent="editEvent(key)">Edit</button>
          </li>
        </ul>
      </div>
  </script>
  <script>
    var MyEventList = Vue.component('my-event-list', {
      data() {
        return {
          sharedEvents: store.state
        }
      },
      computed: {
        events() {
          return this.sharedEvents.events
        }
      },
      methods: {

        selectEvent(eventKey) {
          util.log('call selectEvent', eventKey);
          store.event.select(eventKey)
          EventBus.$emit('showEventUsers')
        },
        editEvent(eventKey) {
          util.log('call editEvent', eventKey);
          store.event.select(eventKey)
          EventBus.$emit('showEventEdit')
        },
        isActive(eventKey) {
          return this.sharedEvents.eventKey == eventKey ? '> ' : '';
        }
      },
      template: '#my-event-list'
    });
  </script>

  <script type="text/x-template" id="my-selected-event">
        <div>
        <h2>Selected Event {{eventName}}</h2>
        <div v-if="selectedEvent">
            <my-confirm v-if="showConfirm" :component="component" :msg="msgConfirm"></my-confirm>
            <div v-for="(member, key) in members" :key="key">
                <span>{{member.name}}</span>
                  <button :disabled="showConfirm" v-if="isActive(key) == false" @click.prevent="join(key, member.name, $event)">Join</button>
                  <button :disabled="showConfirm" @click.prevent="pay(key, member.name, $event)">
                      <span v-if="isPaid(key) == false">Pay</span>
                      <span v-else>Mark as unpaid</span>
                  </button>
                </div>

            </div>
        </div>
    </div>
  </script>
  <script>
    var MySelectedEvent = Vue.component('my-selected-event', {

      data() {
        return {
          sharedEvents: store.state,
          component: 'selectedEvent',
          selectedKey: null,
          showConfirm: false,
          selectedAction: null,
          msgConfirm: ''
        }
      },

      created() {
        EventBus.$on(this.component + 'Confirm', () => { this.confirmAction() });
        EventBus.$on(this.component + 'Cancel', () => { this.cancelAction() });
      },

      computed: {
        eventName() {
          return this.sharedEvents.selectedEvent.name
        },
        members() {
          return this.sharedEvents.members
        },
        selectedEvent() {
          return this.sharedEvents.selectedEvent
        },
      },

      methods: {

        isActive(memberKey) {
          util.log('call isAtive', memberKey);

          var members = this.selectedEvent.members;

          if (members &&
            members[memberKey] &&
            members[memberKey]['join'] &&
            members[memberKey]['join'] === true) return true;

          return false;
        },

        isPaid(memberKey) {
          util.log('call isPaid', memberKey)
          var members = this.selectedEvent.members;

          if (members &&
            members[memberKey] &&
            members[memberKey]['pay'] &&
            members[memberKey]['pay'] === true) return true;

          return false;
        },

        selectEvent(eventKey) {
          util.log('call selectEvent', eventKey);
          store.selectEvent(eventKey)
        },

        callConfirmAction(actionName, key, memberName, actionText) {
          this.msgConfirm = "Confirm " + actionText + " member " + memberName + "?";
          this.selectedAction = actionName;
          this.selectedKey = key;
          this.showConfirm = true;
          console.log('TODO: DEL',
            this.msgConfirm,
            this.selectedAction,
            this.selectedKey,
            this.showConfirm,
          )
        },

        join(key, memberName, e) {
          util.log('call join', key, memberName);
          this.callConfirmAction('join', key, memberName, e.target.innerText);
        },

        pay(key, memberName, e) {
          util.log('call pay', key, memberName);
          this.callConfirmAction('pay', key, memberName, e.target.innerText);
        },

        confirmAction() {
          console.log('TODO: DEL',
            this.msgConfirm,
            this.selectedAction,
            this.selectedKey,
            this.showConfirm,
          )
          switch (this.selectedAction) {
            case 'pay':
              store.member.payEvent(this.selectedKey);
              break;
            case 'join':
              store.member.joinEvent(this.selectedKey);
              break;
          }
          this.showConfirm = false;
        },

        cancelAction() {
          util.log('call cancel')
          this.showConfirm = false;
        },

      },

      components: {
        MyConfirm
      },

      template: '#my-selected-event'
    })
  </script>


  <script type="text/x-template" id="my-member-list">
        <div>
      <h2>User List</h2>
      <ul>
        <li v-for="(member, key) in members">
          <span>{{ member.name }}</span><button @click.prevent="edit(key, member)">Edit</button>
        </li>
      </ul>
    </div>
  </script>
  <script>
    var MyUserList = Vue.component('my-member-list', {
      data() {
        return {
          sharedEvents: store.state
        }
      },
      computed: {
        members() {
          return this.sharedEvents.members;
        }
      },
      methods: {
        edit(key, member) {
          var memberEdit = {
            key: key,
            data: member
          }
          EventBus.$emit('showUserEdit', memberEdit)
        },
      },
      template: '#my-member-list'
    })
  </script>


  <script type="text/x-template" id="my-member-data">
        <div v-if="editData">
      <h2>{{mode}} User</h2>
      <div>
        <label>Name</label>
        <input type="text" v-model="member.name"  @keyup.enter="save" />
      </div>
      <div>
          <label>Email</label>
          <input type="email" v-model="member.email" @keyup.enter="save" />
      </div>
      <div>
        <button @click.prevent="save">Save</button>
        <button @click.prevent="cancel">Cancel</button>
      </div>
      <p>{{msg}}</p>
    </div>
  </script>
  <script>
    var MyUserData = Vue.component('my-member-data', {
      data() {
        return {
          member: {},
          memberKey: '',
          mode: '',
          msg: '',
          editData: false
        }
      },
      mounted() {
        EventBus.$on('hideUserData', () => {
          this.editData = false
        })

        EventBus.$on('showUserEdit', member => {
          this.member = Object.assign({}, member.data)
          this.memberName = member.key;
          this.mode = 'Edit'
          this.msg = ''
          this.editData = true
        });

        EventBus.$on('showUserNew', (member) => {
          this.member = {}
          this.mode = 'New'
          this.msg = ''
          this.editData = true
        })
      },
      methods: {
        save() {
          util.log('call save')
          var data = {};

          if (this.mode === 'Edit') {
            data = store.member.update(this.memberName, this.member)
          } else {
            data = store.member.add(this.member)
          }
          data.then((e) => {
            this.goToUserList()
          })
          data.catch((e) => {
            this.msg = e
          })
        },
        cancel() {
          util.log('call cancel')
          this.goToUserList();
        },
        goToUserList() {
          util.log('call goToUserList')
          this.editData = false;
          EventBus.$emit('showUserList');
        }
      },
      template: '#my-member-data'
    })
  </script>


  <script type="text/x-template" id="my-login">
    <div>
      <pre>
        email: demo@demo.com
        password: demo
      </pre>
      <div>
        <div><input type="email" v-model="login.email" placeholder="Email" @keyup.enter="connect" /></div>
        <div><input type="password" v-model="login.password" placeholder="Password" @keyup.enter="connect" /></div>
      </div>
      <div>
        <button @click.prevent="connect">Login</button>
        <button @click.prevent="create">Create</button>
      </div>
      <p>{{msg}}</p>
    </div>
  </script>
  <script>
    var MyLogin = Vue.component('my-login', {
      data() {
        return {
          login: {},
          msg: ''
        }
      },

      methods: {

        create() {
          store.login.create(this.login)


            .then((e) => {
              this.msg = e
              //EventBus.$emit('login')
            })

            .catch((e) => {
              this.msg = e
            })

        },

        connect() {
          store.login.connect(this.login)

            .then((e) => {
              this.msg = e
              EventBus.$emit('login')
            })

            .catch((e) => {
              this.msg = e
            })
        },



      },
      template: '#my-login'
    })
  </script>



  <script type="text/x-template" id="my-event">
    <div>
        <my-login v-if="!connected"></my-login>
        <div v-else>
          <button @click.prevent="logoff">Logoff</button>
          <h3>Menu</h3>
          <ul>
            <li>Event</li>
            <li><button @click.prevent="selectEventList">Event List</button></li>
            <li><button @click.prevent="selectEventNew">New Event</button></li>
            <li>User</li>
            <li><button @click.prevent="selectUserList">User List</button></li>
            <li><button @click.prevent="selectUserNew">New User</button></li>
          </ul>
          <h3>Screen</h3>
          <div>
            <my-event-list v-if="showEventList" />
            <my-event-data />
            <my-selected-event v-if="showEventUsers"/>
            <my-member-list v-if=showUserList />
            <my-member-data />
          </div>

          <div>
              <h3>Code</h3>
              {{load}}
              <pre>{{sharedEvents}}</pre>
          </div>
      </div>
    </div>
  </script>

  <script>
    var EventBus = new Vue();

    var MyEvent = Vue.component('my-event', {
      data() {
        return {
          connected: false,
          sharedEvents: store.state,
          showEventList: true,
          showEventNew: false,
          showEventData: false,
          showEventUsers: false,

          showUserList: false,
          showUserData: false,
        }
      },

      created() {
        getStorage();

        EventBus.$on('login', () => {
          console.log('logou')
          this.connected = true;
        })

        EventBus.$on('showEventList', this.selectEventList)

        EventBus.$on('showEventUsers', () => { this.selectEventUsers() });

        EventBus.$on('showUserList', () => { this.selectUserList() });

        EventBus.$on('showEventEdit', () => { this.hideComponents() })

        EventBus.$on('showUserEdit', () => {
          this.hideComponents()
        })
        setTimeout(this.checkLogin(), 1000)

        google.loadDB();

      },
      computed: {
        load() {
          return this.sharedEvents.isProcessing
        }
      },
      methods: {

        checkLogin() {

          this.connected = google.isLogged();

          console.log('checkLogin', new Date(), this.connected)

          if (this.connected == false) {
            setTimeout(this.checkLogin, 1000)
          }

        },
        logoff() {
          this.connected = false
          google.logoff()
        },

        selectEventUsers() {
          this.hideComponents()
          this.showEventUsers = true;
        },

        selectEventNew() {
          this.hideComponents()
          EventBus.$emit('showEventNew')
        },

        selectEventList() {
          this.hideComponents()
          this.showEventList = true
        },
        selectUserList() {
          this.hideComponents()
          this.showUserList = true
        },
        selectUserNew() {
          this.hideComponents()
          EventBus.$emit('showUserNew')
        },
        hideComponents() {
          this.showEventList = false
          this.showEventNew = false
          this.showUserList = false
          this.showEventUsers = false
          EventBus.$emit('hideUserData')
          EventBus.$emit('hideEventData')
          //this.showUserData = false
        }
      },
      components: {
        MyEventList,
        MyEventData,
        MySelectedEvent,

        MyUserList,
        MyUserData,

      },
      template: '#my-event',
    })

    new Vue({
      el: '#app',
      //render: h => h(MyEvent),
      components: {
        MyEvent,
        MyConfirm,
        MyEventData
      },
    });

  </script>




</body>

</html>